#! /usr/bin/env zsh
alias :q="exit 0"
alias :Q=":q"
alias lg="lsgrep"
alias gping="gping --clear --color red,green,blue,yellow --vertical-margin 0 "$@""
alias please="sudo"
alias vim="nvim"
function fd() {cd "$(dirname "$(fzf --ignore-case --no-preview)")"}
function git() {
	if [ "$#" -eq 0 ]; then
		git -c color.status=always status -sb |
		sed "1s/^##/$(printf '\033[32mS\033[0m\033[31mU\033[0m')/" &&
		printf "\nM = modified\n? = unversioned\nA = added\nD = deleted\n"

	else
		command git "$@"
	fi
}


function gp() {
	# Check if at least one address is provided
	if [[ $# -lt 1 ]]; then
		read -p "IPS to Ping (separated by space): " gpingips
	fi

	read -p "Total duration (seconds): " duration
	read -p "Ping interval (seconds): " interval

	# Check if inputs are numbers
	if [[ ! $duration =~ ^[0-9]+$ ]]; then
		duration="30"
	fi
	
	if [[ ! $interval =~ ^[0-9]+$ ]]; then
		interval="0.2";
	fi
	
	if [[ $# -lt 1 ]]; then
		eval set -- $gpingips
	fi

	gping --buffer ${duration} --watch-interval ${interval} "$@"
	unset duration interval gpingips
}
