#! /usr/bin/env zsh
function :q() {command exit}
function lg() {command lsgrep}
function fd() {command cd "$(dirname "$(fzf --ignore-case --no-preview)")"}
function git() {
	if [ "$#" -eq 0 ]; then
		command git status -sb
	else
		command git "$@"
	fi
}

function gping() {
    command gping --clear --color red,green,blue,yellow --vertical-margin 0 "$@"
}

function gp() {
	# Check if at least one address is provided
	if [[ $# -lt 1 ]]; then
		read -p "IPS to Ping (separated by space): " gpingips
	fi

	read -p "Total duration (seconds): " duration
	read -p "Ping interval (seconds): " interval

	# Check if inputs are numbers
	if [[ ! $duration =~ ^[0-9]+$ ]]; then
		duration="30"
	fi
	
	if [[ ! $interval =~ ^[0-9]+$ ]]; then
		interval="0.2";
	fi
	
	if [[ $# -lt 1 ]]; then
		eval set -- $gpingips
	fi

	command gping --buffer ${duration} --watch-interval ${interval} "$@"
	unset duration interval gpingips
}
