[user]
	name = Malte Schilling
	email = schilling.malte@googlemail.com
	signingkey = schilling.malte@googlemail.com
[init]
	defaultBranch = main
[core]
	pager = bat -p
[alias]
	lg = log --all --decorate=short --oneline --graph
	logg = log --stat
