[user]
	name = Malte Schilling
	email = git@malte-schilling.eu
	signingkey = git@malte-schilling.eu
[init]
	defaultBranch = main
[core]
	pager = bat -p
[alias]
	lg = log --all --decorate=short --oneline --graph
	logg = log --stat
[commit]
	gpgsign = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
